
td, th {
   border: 1px solid #ddd;
   padding: 8px;
  
 }
 .tablemain{
   width: 70%;
    margin: auto;
    align-items: center;
    background-color: black;
    height: 50vh;
    margin-top: 50px;
 }
 .searchlocation{
  padding: 19px;
  border-radius: 11px;
  
 }
 .header-checkbox{
  display: flex;
 }
 .navbar{
  justify-content: space-around!important;
  width: 70%!important;
    margin-left: 15%;
    margin-top: 3%;
    padding: 20px;
 }
.chartscontainer{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 8%;
}

